main {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  text-shadow: none;
  font-size: 15px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Love Bug';
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #000;
  }

}
