main {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  text-shadow: none;
  font-size: 15px;

  position: relative;
  z-index: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Love Bug';
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #000;
  }

}

// The class is a wrapper so that we can wrap markdown tables in
// <div class="table-box">...</div> easily.
.table-box table {
  @extend .description-box;

  th {
    font-family: 'Love Bug';
    font-weight: 400;
    font-size: 14px;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #000;
  }

  // backgrounds

  th, td {
    background: rgba(0,0,0,0.25);
  }
  tr:nth-child(2n+1) td {
    background: rgba(48,48,48,0.25);
  }

  // Borders

  border-collapse: collapse;
  &, tr, td, th {
    border: 0;
  }
  td {
    border-top: 1px solid #fff;
  }
  td + td,
  th + th {
    border-left: 1px solid #fff;
  }

  // Paddings

  td, th {
    padding: 6px 8px;
    // account for the box border
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
  }
  // account for the box border
  th {
    padding-top: 8px;
  }
  tbody:first-child tr:first-child td {
    // If there is no thead, remove border from first row and account for the box border
    border-top: 0;
    padding-top: 8px;
  }
  tbody tr:last-child td {
    padding-bottom: 8px;
  }
}
