main {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  text-shadow: none;
  font-size: 15px;

  margin-top: 1em; // match <p> margin so it's applied at the top even if page doesn't start with a <p> tag

  position: relative;
  z-index: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Love Bug';
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #000;
  }
}

// The class is a wrapper so that we can wrap markdown tables in
// <div class="table-box">...</div> easily.
.table-box table {
  @extend .description-box;

  $vertical-padding: 6px; // Vertical padding within cells
  $horizontal-padding: 8px; // Horizontal padding within cells

  $vertical-graphic: 3px; // Vertical thickness of the box graphic
  $horizontal-graphic: 8px; // Horizontal thickness of the box graphic

  $table-border: 2px; // Border around the table
  $cell-border: 1px; // Border width between cells

  th {
    font-family: 'Love Bug';
    font-weight: 400;
    font-size: 14px;
    text-shadow: 1px 1px 0 #000,
                 2px 2px 0 #000;
  }

  // backgrounds

  th, td {
    background: rgba(0,0,0,0.25);
  }
  tr:nth-child(2n+1) td {
    background: rgba(48,48,48,0.25);
  }

  // Borders

  border-collapse: collapse;
  &, tr, td, th {
    border: 0;
  }
  tr {
    border: 0 solid #fff;
    border-width: $cell-border $table-border 0;
  }
  td + td,
  th + th {
    border-left: $cell-border solid #fff;
  }

  // Paddings

  td, th {
    padding: $vertical-padding $horizontal-padding;
    // account for the box border
    &:first-child {
      padding-left: calc($horizontal-padding + $horizontal-graphic - $table-border);
    }
    &:last-child {
      padding-right: calc($horizontal-padding + $horizontal-graphic - $table-border);
    }
  }
  // account for the box border
  thead,
  tbody:first-child {
    tr:first-child {
      border-top-width: $table-border;
    }
  }
  thead tr:first-child th,
  tbody:first-child tr:first-child td {
    padding-top: calc($vertical-padding + $vertical-graphic - $table-border);
  }
  tbody tr:last-child {
    border-bottom-width: $table-border;
    td {
      padding-bottom: calc($vertical-padding + $vertical-graphic - $table-border);
    }
  }
}
