@font-face {
  /*****************************************************************
  * If you want to use this font, buy a license at pixel-fonts.com *
  * Support the author, don't be a pirate. <3                      *
  * ― CloudMax                                                     *
  *****************************************************************/
  font-family: 'Love Bug';
  src: url('../fonts/ChevyRay - Love Bug.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
