<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ if .Description }}
      <meta name="description" content="{{ .Description }}">
    {{ else if .IsPage }}
      <meta name="description" content="{{ .Summary | plainify }}">
    {{ end }}
    {{ if .Site.Params.favicon }}
      <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
    {{ end }}
    {{ partial "css" . }}
    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
      <link href="{{ .RelPermalink }}" rel="feed" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
    {{ end }}
    <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
    <script async defer data-website-id="ab92a678-61d9-4175-bf7c-828916beea9a" src="https://a7s.cadence.link/main.js"></script>
  </head>
  <body>
    <script>
    // Calculate & set --scrollbar-width for style purposes
    // We run this inline before all the content to prevent things from jumping on page load
    (function(){
      var outer = document.createElement('div')
      outer.style.visibility = 'hidden'
      outer.style.width = '100px'
      document.body.appendChild(outer)
      var widthNoScroll = outer.offsetWidth
      // force scrollbars
      outer.style.overflow = 'scroll'
      // add inner div
      var inner = document.createElement('div')
      inner.style.width = '100%'
      outer.appendChild(inner)
      // calculate scrollbar width
      scrollbarWidth = widthNoScroll - inner.offsetWidth
      // remove divs
      outer.parentNode.removeChild(outer)
      // Set --scrollbar-width
      document.body.style.setProperty('--scrollbar-width', scrollbarWidth + 'px')
    })()
    </script>
    {{ partial "sidebar" . }}
    <div class="leaderboard">
      <div class="leaderboard-top global-box" style="{{ if isset .Params "background" }}background-image: url({{ .Params.background }}){{ end }}">
        <div class="leaderboard-container">
          {{ partial "title/title" . }}
