<label for="menu-toggle" class="textbox hamburger" tabindex="0">
  <div></div>
  <div></div>
  <div></div>
</label>
<input type="checkbox" id="menu-toggle" checked>
<div class="menu">
  <div class="menu-top global-box">
    <div class="menu-container">
      <div class="logo">
        {{ partial "img" (dict "src" "/img/logo.png" "align" "center" "alt" "cadence.link logo") }}
      </div>
      <div class="menu-title">Content</div>
      {{ if .Site.Menus.main }}
        {{ $currentPage := . }}
        {{ range sort .Site.Menus.main }}
          {{ if .HasChildren }}
            {{ partial "dropdown/open" (dict "label" .Name "selected" ($currentPage.HasMenuCurrent "main" .) "button" true) }}
              {{ range .Children }}
                {{ $section := true }}
                {{ if .URL }}
                  {{ $section = false }}
                {{ end }}
                {{ partial "dropdown/item" (dict "url" .URL "label" .Name "selected" ($currentPage.IsMenuCurrent "main" .) "section" true) }}
              {{ end }}
            {{ partial "dropdown/close" }}
          {{ else }}
            <a href="{{ .URL }}" class="textbox centered{{ if $currentPage.IsMenuCurrent "main" . }} selected{{ end }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if .Site.Menus.other }}
        <div class="menu-footer">
          <div class="menu-title">Other</div>
          {{ range sort .Site.Menus.other }}
            <a href="{{ .URL }}" class="textbox centered" target="_blank">{{ .Name }}</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
  {{ if .Site.Params.Github }}
  <div class="menu-bottom global-box">
    <a href="{{ .Site.Params.Github }}" class="textbox centered" target="_blank">Contribute on GitHub</a>
  </div>
  {{ end }}
  <div class="menu-bottom description-box">
    Website by <a href="{{ .Site.Params.Authorlink }}" class="selector" target="_blank">{{ .Site.Params.Author }}</a>
  </div>
</div>
