<div class="boulder-solver">
  <div class="boulder-solver-toolbar">
    <div class="boulder-solver-toolbar-area"></div>
  </div>
  <div class="boulder-solver-body">
    <div class="boulder-solver-scroll">
      <div class="boulder-solver-grid">
      </div>
      <div class="boulder-solver-indicator"></div>
    </div>
    <button class="boulder-solver-nav boulder-solver-prev">Previous step</button>
    <button class="boulder-solver-nav boulder-solver-next">Next step</button>
  </div>
  <div class="boulder-solver-info">
    <strong>Controls:</strong><br>
    Drag boulders/circles to place them.<br>
    Left click to toggle between slab and fence.<br>
    Right click to remove slabs and fences.<br>
    <br>
    When a solution is found, an indicator will<br>
    appear, showing how to move the boulders.
  </div>
  <noscript>
    <div class="boulder-solver-javascript">Please enable JavaScript to use the solver</div>
  </noscript>
</div>
