{{- $slot := .Get "slot" | default (.Get 0) -}}
<table class="item-table">
{{ range $id, $item := .Site.Data.items }}
  {{ if eq $id "_" }}
    {{/* We skip the _ comment key at the start of the data file. */}}
  {{ else if not $item.inventory }}
    {{/* We skip items that don't have an inventory text. */}}
  {{ else if and ($slot) (ne $item.slot $slot) }}
    {{/* Slot parameter was specified and does not match item */}}
  {{ else }}
    <tr>
      <td>{{ partial "ingame-text.html" $item.inventory | safeHTML }}</td>
    </tr>
  {{ end }}
{{ end }}
</table>
